In [1]:
import pandas as pd
pd.set_option('display.max_row', 500)

In [11]:
bookData = pd.read_csv('AI_Book_Data.csv')

In [12]:
bookData.head()

,제목,부제,저자,분야,출판일,출판사,가격,목차,소개,출판사제공,판매지수
0,에이트,인공지능에게 대체되지 않는 나를 만드는 법,이지성,자기계발,20191021,차이정원,17000,\r\n당신에게 묻는다prologue 잡스는 왜 죽기 직전까지 인공지능을 붙잡고 있...,\r\n하버드·스탠퍼드·NASA·구글……아이비리그와 실리콘밸리의 천재들은 인공지능 ...,인류가 단 한 번도 경험하지 못한 시대가 오고 있다!『리딩으로 리드하라...,"<span class=""gd_sellNum"">\n<em class=""divi"">|<..."
1,핸즈온 머신러닝,"사이킷런, 케라스, 텐서플로 2를 활용한 머신러닝, 딥러닝 완벽 실무",오렐리앙 제롱,IT 모바일,20200504,한빛미디어,55000,\r\n[PART 1 머신러닝]CHAPTER 1 한눈에 보는 머신러닝1.1 머신러닝...,\r\n머신러닝 전문가로 이끄는 최고의 실전 지침서 텐서플로 2.0을 반영한 풀컬러...,컬러판으로 돌아온 아마존 인공지능 분야 부동의 1위 도서머신러닝 전문가...,"<span class=""gd_sellNum"">\n<em class=""divi"">|<..."
2,슈퍼인텔리전스,"경로, 위험, 전략",닉 보스트롬,자연과학,20170405,까치(까치글방),25000,\r\n아직 끝이 나지 않은 이야기 : 참새와 부엉이의 우화서문감사의 글1 과거의 ...,"\r\n2014년 출간 이후 [뉴욕 타임스], 아마존 베스트셀러영미권에서 13만 부...",\r 2016년 알파고와 한국 프로 바둑기사 이세돌의 대국은 전 세계적인...,"<span class=""gd_sellNum"">\n<em class=""divi"">|<..."
3,우리 아이 AI,4차산업혁명시대 인공지능 융합교육법,박찬,사회 정치,20200302,다빈치books,24000,\r\n1. 인공지능 시대- 패러다임 전환인공지능의 이해 머신러닝과 딥러닝 활용 핀...,\r\n인공지능 교육에는 패러다임 전환이 필요하다!인공지능 시대의 융합교육법초격차의...,학교와 가정에서 우리 아이들과 함께 인공지능 교육을 시작하세요더 많은 ...,"<span class=""gd_sellNum"">\n<em class=""divi"">|<..."
4,십 대가 알아야 할 인공지능과 4차 산업혁명의 미래,"인간의 삶, 사회 그리고 컴퓨터 과학 기술을 함께 보다! 처음 만나는 디지털인문학",전승민,청소년,20180520,팜파스,13000,\r\n들어가는 글Chapter 1 누구도 예측하지 못한 신세계가 열리다 -자동화 ...,\r\n이세돌과 알파고의 대국 이후 다양한 매체에서 ‘바야흐로 4차 산업혁명의 시대...,"\r 인간만의 고유한 가치, 인문학적 감각! 이제 컴퓨터과학과 인문학을 ...","<span class=""gd_sellNum"">\n<em class=""divi"">|<..."

In [13]:
bookData['분야']

0         자기계발
1       IT 모바일
2         자연과학
3        사회 정치
4          청소년
        ...
682         인문
683       자기계발
684     IT 모바일
685     IT 모바일
686    휴고상 수상작
Name: 분야, Length: 687, dtype: object

In [14]:
#카테고리 별 빈도수
feildList = pd.Series(bookData['분야'])
result = feildList.value_counts()
result

IT 모바일        136
전집            131
경제 경영         113
대학교재           59
어린이            49
인문             45
사회 정치          37
자연과학           31
소설/시/희곡        28
청소년            21
가정 살림          11
자기계발            9
수험서 자격증         6
종교              2
건강 취미           2
국어 외국어 사전       2
예술              2
휴고상 수상작         1
유아              1
볼로냐 라가치  상      1
Name: 분야, dtype: int64

In [16]:
bookData[bookData['분야'].isin(['휴고상 수상작'])]

,제목,부제,저자,분야,출판일,출판사,가격,목차,소개,출판사제공,판매지수
686,소프트웨어 객체의 생애 주기,NaN,테드 창,휴고상 수상작,20130809,북스피어,8800,\r\n소프트웨어 객체의 생애 주기창작 노트해설,"\r\nSF사상 보기 드문 정치함과 우아함을 갖춘 작가 테드 창의 \r\n휴고 상,...",NaN,NaN